/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #ef4444;
}

.toggle-checkbox:checked+.toggle-label {
    @apply: bg-red-500;
    background-color: #ef4444;
}

.select2-container--default .select2-selection--single {
    @apply appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-1 px-2;
    height: 2.1rem;
    border-color: #71717a;
}